{% extends "base.html" %}
{% block title %}Litoral Paraibano - Home{% endblock %}

{% block content %}

<!-- TÍTULO -->
<div class="text-center mb-4">
    <h1 class="fw-bold text-primary">Pontos Turísticos do Litoral Paraibano</h1>
    <p class="text-muted">
        Descubra as praias mais encantadoras da Paraíba.
    </p>
</div>

<!-- CARDS DAS PRAIAS -->
<div class="row g-4">

    {% for praia in destaques %}
        <div class="col-12 col-md-6 col-lg-4">
            {% include "components/_card.html" %}
        </div>
    {% endfor %}

</div>

{% endblock %}
