{% extends "modelo.html" %}
{% block conteudo %}
    <h1>Descubra a Paraíba: Um Paraíso Tropical</h1>

        <p>Bem-vindo à Paraíba, um estado rico em belezas naturais, cultura vibrante e história fascinante. Explore conosco alguns dos destinos mais incríveis que este paraíso tem a oferecer.</p>

        <h2>João Pessoa: Onde o Sol Nasce Primeiro</h2>
        <p>João Pessoa, a capital da Paraíba, é conhecida por ser a cidade onde o sol nasce primeiro no Brasil. Com suas praias urbanas, como Tambaú e Cabo Branco, a cidade oferece um ambiente acolhedor e relaxante. Não deixe de visitar o Centro Histórico, com sua arquitetura colonial preservada, e o Farol do Cabo Branco, um dos pontos turísticos mais famosos da cidade.</p>

        <h2>Campina Grande: O Maior São João do Mundo</h2>
        <p>Campina Grande é famosa por realizar o Maior São João do Mundo, uma festa junina que atrai milhares de turistas todos os anos. Além das festividades, a cidade oferece outros atrativos, como o Museu do Algodão, que conta a história da produção algodoeira na região, e o Açude Velho, um lago artificial que oferece opções de lazer e entretenimento.</p>

        <h2>Praia de Tambaba: Uma Experiência Naturista</h2>
        <p>A Praia de Tambaba é uma das praias mais famosas da Paraíba, conhecida por ser uma praia naturista. Dividida em duas partes, uma parte é destinada à prática do naturismo, enquanto a outra é aberta a todos os visitantes. Com suas falésias coloridas e águas cristalinas, Tambaba oferece uma experiência única em contato com a natureza.</p>

        <h2>Outros Destinos Imperdíveis</h2>
        <ul>
            <li><strong>Cabedelo:</strong> Conhecida pelo Forte de Santa Catarina e a Praia de Intermares, onde é possível observar o fenômeno da Pororoca.</li>
            <li><strong>Areia:</strong> Uma cidade histórica com belas construções coloniais e museus que contam a história da região.</li>
            <li><strong>Pipa (Tibau do Sul):</strong> Apesar de estar localizada no Rio Grande do Norte, Pipa é facilmente acessível a partir da Paraíba e oferece praias paradisíacas e vida noturna agitada.</li>
        </ul>

        <p>Venha descobrir a Paraíba e se encantar com suas belezas naturais, cultura rica e povo acolhedor. Planeje sua viagem e viva momentos inesquecíveis neste paraíso tropical!</p>
    
{% endblock %}